.notFound {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notFound > img {
  width: 80%;
  height: 400px;
  margin-top: 2rem;
  margin-left: 1rem;
  object-fit: contain;
}

.notFound__back {
  background-color: #1a202c;
  color: white;
  padding: 15px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2rem;
  border: none;
  box-sizing: border-box;
}

.notFound__back:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

@media (max-width: 928px) {
  .notFound > img {
    width: 90%;
    height: 350px;
    margin-left: 2rem;
    object-fit: contain;
  }
  .notFound__back {
    background-color: #1a202c;
    color: white;
    padding: 15px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
    border: none;
    box-sizing: border-box;
  }
}

@media (max-width: 796px) {
  .notFound {
    margin-left: auto;
    margin-right: auto;
  }

  .notFound > img {
    width: 100%;
    object-fit: contain;
  }
}
